@charset "UTF-8";
table {
    width: 280px;
    height: 250px;
    margin: auto;
    font-size: 15px;
}
input[type="text"], input[type="password"] {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 1;
    border-radius: 15px;
    outline: black;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
.btn {
    width: 263px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
}
.btn:active {
    width: 263px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}